{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5" style="width: 80%!important">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          As a passionate and driven student with a strong foundation in Python, web development, databases, APIs, web scraping, Flask, Bootstrap, and Tkinter application development, I am constantly seeking opportunities to apply my skills in innovative ways. Currently participating in the Smart India Hackathon, I am dedicated to solving real-world problems with creative and effective solutions.

My journey in technology began with a curiosity for how things work, which quickly evolved into a deep interest in coding and software development. Over the years, I have honed my skills through various projects, from building dynamic web applications to developing robust desktop applications. My experience with web scraping and APIs has enabled me to gather and utilize data efficiently, while my proficiency in frameworks like Flask and Bootstrap allows me to create user-friendly and responsive interfaces.
        </p>
        <p>
          I thrive in collaborative environments and enjoy working with diverse teams to bring ideas to life. My goal is to leverage my technical expertise to contribute to impactful projects that make a difference. Whether it’s through developing innovative solutions for hackathons or working on personal projects, I am always eager to learn and grow.
        </p>
        <p>
          In addition to my technical skills, I am also passionate about sharing knowledge and helping others. I believe in the power of community and often engage in discussions and collaborations with fellow developers. My ultimate aim is to continue evolving as a developer and to use my skills to create meaningful and lasting impacts.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}